.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-main {
  background-color: #282c34;
}

.primary-yellow {
  color: #fbb03b;
}

.primary-yellow-bg-light {
  background-color: #f3ebdd;
}

.primary-yellow-bg-light-darker {
  background: #e9b055;
}

.primary-yellow-bg {
  background-color: #fbb03b;
}

a:hover.primary-yellow-bg-dark {
  /* background-color: #bc8020; */
  background-color: black;
}

.black-and-white {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
